@charset "UTF-8";
/* Raid Buddy CSS */

@import "lato.css";
@import "montserrat.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: Montserrat, Lato, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-lg {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

#hero-page-background {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 5;
}

#hero-page-background > div.video-banner > video {
    display: block;
    width: 100%;
}

#hero-page-background > div.video-control {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#hero-page-content {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.content-box {
    width: 100%;
    height: 1500px;
}

/* === Button Styling === */

.btn {
    display: inline-block;
    padding: 5px;
}

.btn-alpha {
    background-color: #35a0ff;
    color: #fff;
}

/* === Play / Pause Button === */

.icon-play-container {
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.35);
    fill: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: ease-in-out .15s;
}

.icon-play-container:hover {
    opacity: 1;
}

/* === Navigation Styling === */

nav {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    width: 100%;
    line-height: inherit;
    z-index: 15;
}

nav .nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav .nav-container > ul {
    height: inherit;
}

nav .nav-container > ul > li {
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    list-style-type: none;
    text-decoration: none;
}

nav .nav-container > ul > li + li {
    margin: 0 10px;
}

nav .nav-container > ul > li > a {
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    transition:background ease-in-out .15s;
}

nav .nav-container > ul > li > a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #f15a24;
    height: 1.5px;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: ease-in-out 0.15s;
}

nav .nav-container > ul > li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

nav .nav-container > ul > li > a:hover {
    color: #f15a24;
    background-color: rgba(0, 0, 0, 0.75);
}

/* === Logo Styling === */
svg:not(:root) {
    overflow: hidden;
}

nav .logo {
    position: relative;
    display: flex;
}

nav .logo svg {
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 5px;
}

nav .logo svg .logo-base-color {
    fill: #f15a24;
}

nav .logo svg .logo-accent-color {
    fill: #000;
}


